.score-panel {
	padding: 0.75em;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2em;
}

.score-panel__score {
	display: flex;
	align-items: center;
	gap: 0.25em;
}

.score-panel__score__label {
	font-size: 1.6rem;
	font-weight: 600;
}
