.cards-wrapper {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 640px;
	margin: 0 auto;
}
.cards {
	height: 100%;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: start;
	gap: 1.25em;

	padding: 1em;
}
