#root {
	width: 100%;
	height: 100%;
}

.app {
	height: 100%;
	width: 100%;
	max-width: 960px;
	margin: 0 auto;

	display: flex;
	flex-direction: column;
	overflow: hidden;
}

/* Disable animation and transition when page loading */
.preload * {
	animation-duration: 0s !important;
	-webkit-animation-duration: 0s !important;

	-webkit-transition: none !important;
	-moz-transition: none !important;
	-ms-transition: none !important;
	-o-transition: none !important;
	transition: none !important;
}
