:root {
	--white: hsla(0, 0%, 100%, 0.95);
	--black: hsl(0, 0%, 14%);
	--bg-blue-1: hsl(191, 100%, 40%);
	--bg-blue-2: hsl(195, 100%, 35%);
	--outline: hsl(30, 0%, 30%);
	--text-green: hsl(120, 100%, 50%);
	--text-yellow: hsl(51, 98%, 50%);
	--text-red: hsl(310, 100%, 80%);

	/* Card */
	--bg-front-face: hsl(0, 0%, 98%);
	--bg-back-face: linear-gradient(
		45deg,
		hsl(155, 90%, 35%) 0%,
		hsl(160, 55%, 50%) 100%
	);
	--card-shadow: 0 0 5px 5px hsl(0, 0%, 0%, 0.1);
}

html {
	font-size: 62.5%;
	height: 100vh;
}

body {
	font-family: 'Titillium Web', sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 1.6rem;

	display: flex;
	place-items: center;

	color: var(--white);
	background: var(--bg-blue-1);
	background: linear-gradient(45deg, var(--bg-blue-2), var(--bg-blue-1));

	height: 100%;
	min-height: 100vh;
	min-width: 320px;
}

a:focus-visible,
button:focus-visible {
	outline: 2px solid var(--outline);
	outline-offset: 2px;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
	white-space: nowrap;
}

@media (hover: none) and (pointer: coarse) {
	/* Styles for touchscreens */
	html {
		height: -webkit-fill-available;
	}

	body {
		min-height: 100vh;
		min-height: -webkit-fill-available;
	}
}
/* html {
  height: -webkit-fill-available;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
} */
