:root {
	--white: hsla(0, 0%, 100%, 0.87);
	--black: hsl(0, 0%, 14%);
	--main-bgc: hsl(0deg 0% 97%);
	--outline: hsl(30, 100%, 70%);
	--green: hsl(120, 100%, 50%);
	--orange: hsl(45, 100%, 70%);
}

html {
	font-size: 62.5%;
}

body {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-size: 1.6rem;

	display: flex;
	place-items: center;

	min-width: 320px;
	min-height: 100vh;

	color: var(--white);
	background-color: var(--main-bgc);

	background: #00b4db; /* fallback for old browsers */
	background: linear-gradient(45deg, hsl(195, 100%, 35%), hsl(191, 100%, 40%));
}

a:focus-visible,
button:focus-visible {
	outline: 2px solid var(--outline);
	outline-offset: 2px;
}
