.message {
	margin: 0 auto;
	height: 3.6rem;
	padding: 0 1em;
	border-radius: 0.25em;
	text-align: center;

	font-size: 2.4rem;
	font-weight: 600;

	display: flex;
	align-items: center;
	justify-content: center;
	text-shadow: 3px 3px 6px hsla(0, 0%, 0%, 0.5);

	will-change: transform, opacity;
}

.win {
	color: var(--text-green);
}

.lose {
	color: var(--text-red);
}

.record {
	color: var(--text-yellow);
}

.empty {
	color: var(--white);
	background-color: transparent;
}

.message.is-changing {
	animation: grow 1000ms ease forwards;
}

@keyframes grow {
	from {
		opacity: 0;
		transform: scale(0);
	}
	25% {
		opacity: 1;
		transform: scale(1.2);
	}
	85% {
		opacity: 1;
		transform: scale(1);
	}
	to {
		opacity: 0;
		transform: scale(0);
	}
}
