.message {
	margin: 0 auto;
	height: 3.6rem;
	padding: 0 1em;
	border-radius: 0.25em;
	text-align: center;
	/* background-color: hsl(0, 100%, 100%, 0.5); */

	font-size: 2.4rem;
	font-weight: 600;

	display: flex;
	align-items: center;
	justify-content: center;
	/* text-shadow: 1px 1px 0px hsl(0deg 0% 100%); */
	text-shadow: 3px 3px 6px hsla(0, 0%, 0%, 0.5);

	will-change: transform;
}

.win {
	color: var(--text-green);
}

.lose {
	color: var(--text-red);
}

.record {
	color: var(--text-yellow);
}

.message.empty {
	background-color: transparent;
}

.message.is-changing {
	animation: grow 250ms ease;
}

@keyframes grow {
	from {
		transform: scale(0);
	}
	75% {
		transform: scale(1.2);
	}
	to {
		transform: scale(1);
	}
}
