.btn {
	outline: none;
	border: none;
	color: var(--white);
	background-color: transparent;

	width: 24px;
	height: 24px;
	padding: 2px;
	margin: 0;
	border-radius: 50%;
	cursor: pointer;

	display: grid;
	place-content: center;

	will-change: opacity;
	transition: opacity 200ms ease;
}

.btn:hover {
	opacity: 0.75;
}
